<h1>Виды движения</h1>
  <% @typeofM.each do |typeofM| %>
    <table class="table table-striped">
      <th>
        <%= typeofM.name %>
      </th>
      <tr>
        <td>
          <%= typeofM.activity.name %>
        </td>
      </tr>
  <% end %>
