<h1>Притоки/Оттоки:</h1>
<p> 
  <%= @typeofM.name %><br><br>
  <%= link_to 'Изменить', edit_type_of_movement_path %>
  <%= link_to 'Удалить', type_of_movement_path(@typeofM), method: :delete, data: { confirm: 'Вы уверены?' } %>
</p>
<%= link_to 'Назад', type_of_movements_path %>