<h1>Название:</h1>
<p> 
  <%= @typeofD.name %><br><br>
  <%= link_to 'Изменить', edit_type_of_decision_path %>
  <%= link_to 'Удалить', type_of_decision_path(@typeofD), method: :delete, data: { confirm: 'Вы уверены?' } %>
</p>
<%= link_to 'Назад', type_of_decisions_path %>
 