<h1>Вид деятельности:</h1>
  <% @typeofA.each do |typeofA| %>
    <table class="table table-striped">
    <tr>
      <th>
        <%= typeofA.name %>
      </th>
    </tr>
    <tr>
      <td>
        <% typeofA.type_of_movements.each do |typeofM| %>
          <%= typeofM.name %>
        <% end %>
        </td>
    </tr>
  <% end %>
</table>
 